body {
    
    background: url("images/boardgames.png");
    background-repeat: no-repeat;
    background-color: white;   
    font-family: Arial;
 
}

h1, h2, h3 {
    /*text-align: center;*/
    text-align: right;
    margin: 20px 300px 10px;
    color: black;
    font-family: Arial;

    
}

form {
    text-align: right;
    margin: 0px 300px;
    color: black;
    font-family: Arial;
    border: black;



}

input {

    width: 200px;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin: 2px;

}

td {
   background-color: white;
   border: 2px solid black;
}

input[type=button], [type=submit]{
    
    padding: 10px;
    width: 120px;
    background-color: white;
    color: black;
    border: 2px solid black;
}

input[type=button]:hover {
    
    cursor: pointer;
    background-color: lightgray;
    
}

input[type=submit]:hover {
    
    cursor: pointer;
    background-color: lightgrey;
    
}

/*#addHeading {
    
    float: right;
    margin: 0px 300px 20px;
    
}*/

#showAll {
    
    float: right;
    margin: 0px 300px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    /*margin: auto;*/
    /*display: block;*/
    
}

#showAll:hover {
    
    cursor: pointer;
    background-color: lightgray;
    
}

#deleteGame {
    
    padding: 10px;
    background-color: red;
    border: 2px solid red;
    color: white;
    
}

#deleteGame:hover {
    
    cursor: not-allowed; 
    background-color: white;
    color: red;
    
}